.wrapper{
  width: 100%;
}
.innerWrapper{
  width: 100%;
  background-image: url('../../assets/images/footer.png');
  background-repeat: no-repeat;
  height: 658px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bread{
  display: flex;
  gap: 80px;
}
.down{
  border-top: 1px solid #FFF;
  width: 100%;
  height: 50px;
  background-color: #493B35;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .bread{
    flex-direction: column;
    width: 100%;
  }
  .innerWrapper{
    padding: 60px 15px 0px;
    height: 100%;
  }
  .down{
    height: 100%;
    padding: 20px;
    font-size: 8px;
  }
}