.wrapper{
  width: 100%;
  height: 1000px;
  margin-top: -230px;
  position: relative;
  background-image: url('../../assets/images/lighterBg.png');
}
.wrapper h1{
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  position: sticky;
}
.darkBg{
  margin-top: -100px;
  width: 100%;
  height: 900px;
}
.darkBg img{
  width: 100%;
  height: 100%;
}
.crazyBand{
  position: absolute;
  top: 250px;
  left: 200px;
}
.crazyBand img:nth-child(2){
  display: none;
}
.buytickets{
  position: absolute;
  bottom: 150px;
  display: flex;
  align-items: center;
  color: #FFF;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.buytickets h1{
  margin: 0;
}
.buytickets p{
  margin: 0;
}
.ticketsBtn{
  border: none;
  font-size: 18px;
  color: #413735;
  font-family: 'Inter';
  background-color: #EE9C9A;
  width: 180px;
  height: 64px;
  font-weight: 600;
}
@media screen and (max-width: 450px) {
  .wrapper h1{
    font-size: 25px;
  }
  .darkBg{
    margin-top: -50px;
  }
  .crazyBand{
    width: 95%;
    display: flex;
    justify-content: center;
    height: 280px;
    left: 2.5%;
    top: 150px;
  }
  .crazyBand img{
    width: 100%;
    height: 100%;
  }
  .crazyBand img:nth-child(1){
    display: none;
  }
  .crazyBand img:nth-child(2){
    display: block;
  }
  .buytickets{
    flex-direction: column;
    bottom: 20%;
  }
  .ticketsBtn{
    font-size: 14px;
    height: 45px;
    width: 154px;
  }
}